{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="max-w-lg mx-auto">

    <div class="py-5 border-b border-gray-200">
        <a class="hover:text-blue-500" href="{% url 'signup' %}">Don't have an account?</a>
    </div>

    <h1 class="text-4xl text-gray-800">Login</h1>

    <form method="post" class="mt-8 space-y-6">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">
            Login
        </button>
    </form>

    <div class="py-5 border-t border-gray-200 mt-5">
        <a class="hover:text-blue-500" href="{% url 'reset-password' %}">Forgot password?</a>
    </div>
</div>
{% endblock %}

{% comment %} {% block extra_css %}
<style>
    #id_username, #id_password {
        @apply appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
    }
    #id_username {
        border-bottom: none;
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
    }
    #id_password {
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
    }
</style>
{% endblock %} {% endcomment %}