{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}Update {{ lead.first_name }} {{ lead.last_name }}{% endblock %}

{% block content %}

<h3 class="text-2xl font-semibold leading-6 text-gray-900">Update Lead</h3>

    <div class="mt-5 md:col-span-2 md:mt-0">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
                <a href="{% url 'leads:lead-detail' lead.pk %}" 
                   class="inline-flex justify-center rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 mr-2">
                    Cancel
                </a>
                <button type="submit"
                        class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Update Lead
                    </button>
        </form>
    </div>
{% endblock %}
